  *{
    margin: 0px;
    padding: 0px;
    outline-style: none;
    font-family: "微软雅黑";
  }
  html,body{
    height: 100%;
    background-color: #F5F6F7;
    min-width: 1200px;
  }
  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
  width:12px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
  border-radius:10px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
  border-radius:10px;
  background:rgba(0,0,0,0.1);
  -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
  }
/*  ::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(255,0,0,0.4);
  } */